<div class="jumbotron banner text-center jumbotron-fluid">
  <h1>QUEEN</h1>
  <p>The Greatest Band of All Time</p>
   <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
</div>
