{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
  <h1>About QUEEN</h1>
  <p>We a band bro We a band bro We a band bro We a band bro We a band bro We a band bro We a band bro We a band bro We a band bro We a band bro We a band bro We a band bro.</p>
  </div>
  </div>
  <article class="container">
  <h1>Band members</h1>
  <div class="row">
  {% for members in members.members %}
  <div class="col-sm-6 col-lg-3">
    <div class="card mb-4">
      <div class="card border-primary">
      <div class="card-body">
        <h5 class="card-title text-success"><a href="members/{{ members.slug }}.html">{{ members.name }}</a></h5>
        <h6 class="card-captain">{{ members.instruments }}</h6>
        <p class="card-text text-secondary">{{ members.tenure }}</p>
       <img src="..img/..members/ {{ imagebw }}.jpg" alt="member" class="img-fluid mb-4">
      </div>
      </div>
    </div>
  </div>
   {% endfor %}
</div>

</article>
{% endblock %}