{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <div class="row text-center">
    <div class="col-md-8 offset-md-2">
  <h1>About QUEEN</h1>
  <p>Queen has always been a top favortie of mind. </p>
  </div>
  </div>
  <article class="container">
  <h1>Band members</h1>
  <div class="row">
  {% for members in members.members %}
  <div class="col-sm-6 col-lg-3">
    <div class="card mb-4">
      <div class="card text-white border-light bg-dark">
      <div class="card-body">
        <h5 class="card-title"><a href="members/{{ members.slug }}.html">{{ members.name }}</a></h5>
        <p class="card-text text-white">{{ members.instruments }}</p>
       <img src="img/members/{{ members.imagebw }}" alt="member" class="card-img-top">
      </div>
      </div>
    </div>
  </div>
   {% endfor %}
</div>

</article>
{% endblock %}